<header class="header">
    <h1 class="header__title">
        Seja bem-vindo(a)
    </h1>

    <ul class="nav-bar-list">
        <li>
            <a routerLink="/home" routerLinkActive="ativado"> Home </a>
        </li>
        <li>
            <a routerLink="/extrato" routerLinkActive="ativado"> Extrato </a>
        </li>
        <li>
            <a routerLink="/contatos" routerLinkActive="ativado"> Contatos </a>
        </li>
        <li>
            <button class="btn btn-danger" (click)="logout()" routerLink="/logout" routerLinkbuttonctive="ativado"> Logout </button>
        </li>
    </ul>

</header>