<main class="principal center">
    <h2 class="center">Event Binding</h2>
    <div>
        <button (click)="botaoClicado()"
        class="">Clique Aqui</button>
<br><br>
        <input type="text" (keyup)="onKeyUp($event)" 
        (keyup.enter)="salvarValor(campoInput.value)" 
        (blur)="salvarValor(campoInput.value)"
        #campoInput />

        <p>Valor atual: {{valorAtual}}</p>
        <p>Valor salvo: {{valorSalvo}}</p>
        <br>
        <h1 
            (mouseover)="onMouseOverOut()" 
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver"
            >
            Passe o mouse aqui
        </h1>
    </div>
</main>
