<body>
    <div class="container text-center">
        <div class="container text-center">
            <div class="spinner-border text-light p-5" role="status" *ngIf="estaCarregando">
                <span class="sr-only">Loading...</span>
            </div>
            <div *ngIf="erroCarregamento">
                <h2>Deu erro</h2>
                <button (click)="carregarContatos()">Tentar novamente</button>
            </div>
            <table class="table table-dark table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
                <tr *ngFor="let contato of contatos">
                    <td class="p-4">{{ contato.nome }}</td>
                    <td>
                        <button class="btn btn-primary m-1" (click)="irParaDetalhes(contato.id)">Ver detalhes</button>
                        <button class="btn btn-danger m-1" (click)="deletarContato(contato.id)">Deletar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>



</body>
