body {
  margin-bottom: 70px;
}
input {
  width: 130px;
  height: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: medium;
}
button {
  width: 90px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  font-weight: 800;
  margin: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
