@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

body {
  padding: 2px;
  background-color: #333;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
  margin-bottom: 50px;
}
